/* [Start] css reset */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}
/* [End] css reset */

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.vr-scene {
  max-width: 400px !important;
  max-height: 400px !important;
}

.show{
  display: flex !important;
}

.virtual-tours__hero {
  height: auto;
  width: 100vw;
}

.virtual-tours__section__hero__image {
  width: 100vw;
  min-height: 600px;
  object-fit: cover;
  background-color: gray;
}

.virtual-tours__copy {
  height: auto;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 50px;
  width: 90%;
}

@media (min-width: 900px) {
  .virtual-tours__copy {
    width: 100%;
    padding-top: 100px;
  }
}

.virtual-tours__title {
  font-size: 40px;
  color: #943001;
}

@media(min-width: 600px) {
  .virtual-tours__title {
    width: 80%;
    font-size: 60px;
  }
}

.virtual-tours__p {
  font-size: 22px;
  width: 100%;
  padding-top: 30px;
}

@media (min-width: 900px) {
  .virtual-tours__p {
    width: 70%;
  }
}

.virtual-tours__p__cta {
  color: #943001;
  text-decoration: none;
}

.virtual-tours__p__cta:hover {
  text-decoration: underline;
}

.virtual-tours__media {
  height: 300px;
  width: 100%;
  background-color: gray;
  margin-top: 50px;
}

@media (min-width: 900px) {
  .virtual-tours__media {
    height: 700px;
  }
}

.virtual-tours__ctas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 50px;
}

@media(min-width: 600px) and (max-width: 899px) {
  .virtual-tours__ctas {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 900px) {
  .virtual-tours__ctas {
    justify-content: space-between;
  }
}

.virtual-tours__cta {
  background-color: black;
  height: 50px;
  width: 20%;
  min-width: 200px;
  text-decoration: none;
  font-weight: 800;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  border-radius: 5px;
  transition: .5s all;
}

.virtual-tours__cta:hover {
  
}

@media (min-width: 900px) {
  .virtual-tours__cta {
    margin-top: 0;
  }
}

.virtual-tours__cta--1 {
  background-color: #1f7f9b;
}

.virtual-tours__cta--1:hover {
  background-color: #185c70;
}

.virtual-tours__cta--2 {
  background-color: #943001;
}

.virtual-tours__cta--2:hover {
  background-color: #6d2403;
}

.virtual-tours__cta--3 {
  background-color: #cbc46d;
}

.virtual-tours__cta--3:hover {
  background-color: #a19c54;
}

.virtual-tours__cta--4 {
  background-color: #083d52;
}

.virtual-tours__cta--4:hover {
  background-color: #052735;
}

.virtual-tours__stretched-image-wrapper {
  width: 100vw;
  max-height: 300px;
  margin-top: 100px;
}

@media (min-width: 900px) {
  .virtual-tours__stretched-image-wrapper {
    max-height: 600px;
  }
}

.virtual-tours__stretched-image {
  width: 100%;
  min-height: 250px;
  object-fit: cover;
  background-color: gray;
}

.virtual-tours__content {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 100px;
}

.virtual-tours__content__title {
  font-size: 40px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .virtual-tours__content__title {
    width: 100%;
  }
}

.virtual-tours__content__filters {
  margin: 0 auto;
  width: 50%;
  height: 100px;
  background-color: red;
  display: none;
}

.virtual-tours__content__filter-list {
  text-align: right;
}

.virtual-tours__content__wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.virtual-tours__content__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-content: space-between; */
}

.virtual-tours__content__card {
  height: 300px;
  width: 300px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  transition: .3s all;
}

.virtual-tours__link {
  text-decoration: none;
}
.virtual-tours__content__card:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.16), 0 6px 12px rgba(0,0,0,0.23);
}

.virtual-tour__label {
  display: inline-block;
}

.virtual-tour__icon {
  color: white;
  position: relative;
  top: 80%;
  left: 4%;
}

.virtual-tour__content__card__thumbnail {
  height: 200px;
  width: 100%;
  border-radius: 5px 5px 0 0 ;
  background-color: gray;
}

.virtual-tour__content__card__title {
  font-size: 24px;
  color: #943001;
  padding-left: 10px;
  padding-top: 10px;
}

.virtual-tours__content__filter-list__item {
  list-style: none;
}

/* create line on sides */
.virtual-tours__content__title span {
  display: inline-block;
  position: relative;
}



.virtual-tours__content__title span:before,
.virtual-tours__content__title span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid black;
  top: 20px;
  width: 50px;
}

@media (min-width: 600px) {
  .virtual-tours__content__title span:before,
  .virtual-tours__content__title span:after {
    width: 100%;
  }
}

.virtual-tours__content__title span:before {
  right: 100%;
  margin-right: 15px;
}

.virtual-tours__content__title span:after {
  left: 100%;
  margin-left: 15px;
}

.virtual-tours__content__video-wrapper {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  margin-top: 50px;
}

@media (min-width: 900px) {
  .virtual-tours__content__video-wrapper {
    align-content: space-between;
    margin-top: 0;
    /* height: 1000px; */
  }
}

.virtual-tours__content__video {
  height: 300px;
  /* min-height: 300px; */
  width: 300px;
  background-color: green;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.filter {
  display: none;
}

.birds {
  background-color: maroon;
}

.fish {
  background-color: midnightblue;
}

.lizards {
  background-color: olivedrab;
}

.flower {
 background-color: palevioletred;
}


.virtual-tours__content__video p {
  text-align: center;
  font-size: 28px;
  color: white;
  width: 100px;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-self: center;
  align-self: center;
}

/* @media (min-width: 900px) {
  .virtual-tours__content__video {
    margin-top: 0;
  }
} */

.virtual-tours__footer {
  height: 50px;
  background-color: orange;
  margin: 100px 0 0;
}

.virtual-tours__modal {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color:rgb(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  animation: fadeIn .2s;
}

.virtual-tours__modal__close {
  color: white;
  font-size: 40px;
  position: relative;
  left: 95%;
  top: 5%;
  cursor: pointer;
}

.virtual-tours__modal__content {
  height: 80%;
  width: 80%;
  margin: 0 auto;
}

.virtual-tours__modal__video {
  height: 100%;
  width: 100%;
  animation: fadeIn .6s;
}